<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/css/mdui.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/js/mdui.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/getFormData.js"></script>
    <meta charset="UTF-8">
    <title>JUDGE</title>
</head>
<body>
<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
    <header class="mdl-layout__header">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title mdl-cell--hide-phone">JUDGE</span>
            <div class="mdl-layout-spacer"></div>
            <!--navigation bar-->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href=""><i class="material-icons">account_circle</i> <%-jresult.name%> </a>
                <a class="mdl-navigation__link" href="/login"><i class="material-icons">power_settings_new</i> Sign out </a>
            </nav>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-layout--large-screen-only">
            <a href=" #scroll-tab-1" class="mdl-layout__tab is-active">The Hubble Telescope Nebula Challenge</a>
            <a href="../C2" class="mdl-layout__tab">The Canyons of Mars</a>
            <a href="../C3" class="mdl-layout__tab">Blast Off: the Straight-ish Line Speed Test</a>
            <a href="../C4" class="mdl-layout__tab">Pi Noon: The Right Stuff</a>
            <a href="../C5" class="mdl-layout__tab">Space Invaders</a>
            <a href="../C6" class="mdl-layout__tab">Spirit of Curiosity</a>
            <a href="../C7" class="mdl-layout__tab">The Apollo 13 Obstacle Course</a>
            <%if(jresult.permission==2){%>
            <a href="../C8" class="mdl-layout__tab">Technical Marking</a>
            <%}%>
        </div>
    </header>
    <!--drawer-->
    <div class="mdl-layout__drawer">
        <span class="mdl-layout__title">JUDGE</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="../C1">The Hubble Telescope Nebula Challenge</a>
            <a class="mdl-navigation__link" href="../C2">The Canyons of Mars</a>
            <a class="mdl-navigation__link" href="../C3">Blast Off: the Straight-ish Line Speed Test</a>
            <a class="mdl-navigation__link" href="../C4">Pi Noon: The Right Stuff</a>
            <a class="mdl-navigation__link" href="../C5">Space Invaders</a>
            <a class="mdl-navigation__link" href="../C6">Spirit of Curiosity</a>
            <a class="mdl-navigation__link" href="../C7">The Apollo 13 Obstacle Course</a>
            <%if(jresult.permission==2){%>
            <a class="mdl-navigation__link" href="../C8">Technical Marking</a>
            <%}%>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
            <form method="post" href="/c1">
                <input type="hidden" name="attempt" value=<%-attempt%>>
                <input type="hidden" name="name" value="The Hubble Telescope Nebula Challenge">
                <div class="page-content">
                    <!-- Your content goes here -->
                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">Team Selection</h1>
                            </div>
                            <div class="mdl-card__supporting-text scrollable">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <select class="mdl-textfield__input" id="team" name="team">
                                        <%if(attempt!=1){%>
                                        <option value=<%-tresult[0].name%>><%-tresult[0].name%></option>
                                        <%}else{%>
                                        <%for(var i=0;i<tresult.length;i++){%>
                                        <option value=<%-tresult[i].name%>><%-tresult[i].name%></option>
                                        <%}}%>
                                    </select>
                                    <label class="mdl-textfield__label" for="team">Team</label>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">Method of competition</h1>
                            </div>
                            <div class="mdl-card__supporting-text scrollable">
                                <table style="width: 100%">
                                    <tr>
                                        <td>
                                            <div class="mdl-cell mdl-cell--12-col">
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="methodOption1">
                                                    <%if ((attempt>1&&methodOption=='Method1')||attempt<=1){%>
                                                    <input type="radio" id="methodOption1" class="mdl-radio__button" name="methodOption" value="Method1">
                                                    <%}else{%>
                                                    <input type="radio" id="methodOption1" class="mdl-radio__button" name="methodOption" value="Method1" disabled>
                                                    <%}%>
                                                    <span class="mdl-radio__label">Method 1</span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mdl-cell mdl-cell--12-col">
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="methodOption2">
                                                    <%if ((attempt>1&&methodOption=='Method2')||attempt<=1){%>
                                                    <input type="radio" id="methodOption2" class="mdl-radio__button" name="methodOption" value="Method2">
                                                    <%}else{%>
                                                    <input type="radio" id="methodOption2" class="mdl-radio__button" name="methodOption" value="Method2" disabled>
                                                    <%}%>
                                                    <span class="mdl-radio__label">Method 2</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">Runtime</h1>
                            </div>
                            <div class="mdl-card__supporting-text scrollable" >
                                <table>
                                    <tr>
                                        <td>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:40px">
                                                    <input class="mdl-textfield__input" type="number" style="text-align: right" pattern="-?[0-9]*(\.[0-9]+)?" id="min" name="min">
                                                    <label class="mdl-textfield__label" style="text-align: right" for="min">MIN</label>
                                                    <span class="mdl-textfield__error">Input is not a number!</span>
                                                </div>
                                        </td>
                                        <td>
                                            :
                                        </td>
                                        <td>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 40px">
                                                    <label for="sec"></label><input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="sec" name="sec">
                                                    <label class="mdl-textfield__label" for="min">SEC</label>
                                                    <span class="mdl-textfield__error">Input is not a number!</span>
                                                </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col"   >
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">Additional Points</h1>
                            </div>
                            <div class="mdl-card__supporting-text scrollable ">
                                <div class="mdl-card__actions" id="method1Div">
                                    <h4>Method 1</h4>
                                    <table style="width: 100%">
                                        <tr>
                                            <td colspan="4">Number of colour zone entered in the correct order :</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="additional1Option0">
                                                    <input type="radio" id="additional1Option0" class="mdl-radio__button" name="additional" value="0" >
                                                    <span class="mdl-radio__label">0</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="additional1Option1">
                                                    <input type="radio" id="additional1Option1" class="mdl-radio__button" name="additional" value="1" >
                                                    <span class="mdl-radio__label">1</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="additional1Option2">
                                                    <input type="radio" id="additional1Option2" class="mdl-radio__button" name="additional" value="2" >
                                                    <span class="mdl-radio__label">2</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="additional1Option3">
                                                    <input type="radio" id="additional1Option3" class="mdl-radio__button" name="additional" value="3" >
                                                    <span class="mdl-radio__label">3</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="additional1Option4">
                                                    <input type="radio" id="additional1Option4" class="mdl-radio__button" name="additional" value="4" >
                                                    <span class="mdl-radio__label">4</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="mdl-card__actions" id="method2Div">
                                    <h4>Method 2</h4>
                                    <table style="width: 100%">
                                        <tr>
                                            <td colspan="4">Number of areas the robot has entered :</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="additional1Option0">
                                                    <input type="radio" id="additional2Option0" class="mdl-radio__button" name="additional" value="0">
                                                    <span class="mdl-radio__label">0</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="additional1Option1">
                                                    <input type="radio" id="additional2Option1" class="mdl-radio__button" name="additional" value="1">
                                                    <span class="mdl-radio__label">1</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="additional1Option2">
                                                    <input type="radio" id="additional2Option2" class="mdl-radio__button" name="additional" value="2">
                                                    <span class="mdl-radio__label">2</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="additional1Option3">
                                                    <input type="radio" id="additional2Option3" class="mdl-radio__button" name="additional" value="3">
                                                    <span class="mdl-radio__label">3</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="additional1Option4">
                                                    <input type="radio" id="additional2Option4" class="mdl-radio__button" name="additional1Option" value="4">
                                                    <span class="mdl-radio__label">4</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">Method Completion</h1>
                            </div>
                            <div class="mdl-card__supporting-text scrollable ">
                                <div class="mdui-panel" mdui-panel>

                                    <div class="mdui-panel-item">
                                        <div class="mdui-panel-item-header">General</div>
                                        <div class="mdui-panel-item-body">
                                            * If any part of a robot enters a zone, it is deemed to have visited the zone. The part of the robot entering the zone does not have to be on the ground – the zone essentially extends virtually up to the ceiling.<br><br>
                                            * Three run attempts are permitted, and encouraged, during your 7-minute window.<br><br>
                                            * It is not necessary to complete all three runs.<br><br>
                                            * The robot must stop autonomously after visiting the final zone.<br><br>
                                            * If a zone is entered out-of-sequence, it is just ignored – there is no penalty for entering zones out of sequence. However, if a zone is entered out of sequence, it is not deemed to have officially ‘visited’ the zone for the purposes of that run.<br><br>
                                            For example: you enter Red, you enter Blue but then you enter Green. Green does not count because you have not entered Yellow yet.<br><br>
                                            Subsequently, you enter Yellow and enter Blue again, which is permissible but you do need to enter Green again because you entered it out of sequence.<br><br>
                                            * At the end of each run, the robot will be placed back in the centre of the course.<br><br>
                                            * The robot’s autonomous runs can be triggered by pressing a button on the robot, for example, or by remote control activation.<br><br>
                                            * It is allowed for the players to have button(s) on their remote controller that they can press to tell their robot that it has, indeed, visited the zones. This is permitted for both methods described above.<br><br>
                                            * Apart from your “activation” and “visited” controls, no other remote control is permitted.<br><br>
                                            * Up to three rescues per run are permitted, with penalties as detailed below.<br><br>
                                        </div>
                                    </div>

                                    <div class="mdui-panel-item">
                                        <div class="mdui-panel-item-header">Method 1</div>
                                        <div class="mdui-panel-item-body">
                                            • The robot must autonomously identify each coloured marker and visit each zone in the following order: Red, Blue, Yellow and, finally, Green.<br><br>
                                            • The placement of the markers will be randomly pre-determined but will not be advised to competitors ahead of their runs. The placement of the markers will not be changed between your three runs and it is permissible to have your robot ‘learn’ the route and achieve faster times on subsequent runs.<br><br>
                                            • We will provide details of the paint and materials used to create the markers so that you can re-create the course if you wish.<br><br>
                                        </div>
                                    </div>
                                    <div class="mdui-panel-item">
                                        <div class="mdui-panel-item-header">Method 2</div>
                                        <div class="mdui-panel-item-body">
                                            • Your robot must autonomously visit each zone in any order.<br><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">Penalties</h1>
                            </div>
                            <div class="mdl-card__supporting-text scrollable">
                                <table style="width: 100%">
                                    <tr>
                                        <td colspan="4">Number of rescues :</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="penalties1Option1">
                                                <input type="radio" id="penalties1Option1" class="mdl-radio__button" name="penalty" value="0" >
                                                <span class="mdl-radio__label">0</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="penalties1Option2">
                                                <input type="radio" id="penalties1Option2" class="mdl-radio__button" name="penalty" value="1" >
                                                <span class="mdl-radio__label">1</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="penalties1Option3">
                                                <input type="radio" id="penalties1Option3" class="mdl-radio__button" name="penalty" value="2" >
                                                <span class="mdl-radio__label">2</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="penalties1Option4">
                                                <input type="radio" id="penalties1Option4" class="mdl-radio__button" name="penalty" value="3" >
                                                <span class="mdl-radio__label">3</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="penalties1Option5">
                                                <input type="radio" id="penalties1Option5" class="mdl-radio__button" name="penalty" value="4" >
                                                <span class="mdl-radio__label">4 or more</span>
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">Current Attempt</h1>
                            </div>
                            <div class="mdl-card__supporting-text scrollable">
                                   <!-- display the current attempt here!!!!!!! -->
                                <h4>Attempt <%-attempt%></h4>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-cell mdl-cell&#45;&#45;12-col send-button" align="center">
                            <!-- Accent-colored raised button with ripple -->
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="width: 140px; min-width: initial" type="submit">
                                submit
                            </button>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </div>
            </form>
        </section>
            <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo"><a href="/privacy">Privacy & Terms</a></div>
</div>
        </footer>
    </main>
</div>
</body>
</html>