<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/css/mdui.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/js/mdui.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascript/getFormData.js"></script>
    <meta charset="UTF-8">
    <title>JUDGE</title>
</head>
<body>
<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
<header class="mdl-layout__header">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title mdl-cell--hide-phone">JUDGE</span>
<div class="mdl-layout-spacer"></div>
            <!--navigation bar-->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href=""><i class="material-icons">account_circle</i> <%-jresult.name%> </a>
                <a class="mdl-navigation__link" href="/login"><i class="material-icons">power_settings_new</i> Sign out </a>
            </nav>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-layout--large-screen-only">
<a href="../C1" class="mdl-layout__tab">The Hubble Telescope Nebula Challenge</a>
            <a href="../C2" class="mdl-layout__tab">The Canyons of Mars</a>
            <a href="../C3" class="mdl-layout__tab">Blast Off: the Straight-ish Line Speed Test</a>
            <a href="../C4" class="mdl-layout__tab">Pi Noon: The Right Stuff</a>
            <a href="#scroll-tab-5" class="mdl-layout__tab is-active">Space Invaders</a>
            <a href="../C6" class="mdl-layout__tab">Spirit of Curiosity</a>
            <a href="../C7" class="mdl-layout__tab">The Apollo 13 Obstacle Course</a>
            <%if(jresult.permission==2){%>
            <a href="../C8" class="mdl-layout__tab">Technical Marking</a>
            <%}%>
        </div>

    </header>
    <!--drawer-->
    <div class="mdl-layout__drawer">
        <span class="mdl-layout__title">JUDGE</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="../C1">The Hubble Telescope Nebula Challenge</a>
            <a class="mdl-navigation__link" href="../C2">The Canyons of Mars</a>
            <a class="mdl-navigation__link" href="../C3">Blast Off: the Straight-ish Line Speed Test</a>
            <a class="mdl-navigation__link" href="../C4">Pi Noon: The Right Stuff</a>
            <a class="mdl-navigation__link" href="../C5">Space Invaders</a>
            <a class="mdl-navigation__link" href="../C6">Spirit of Curiosity</a>
            <a class="mdl-navigation__link" href="../C7">The Apollo 13 Obstacle Course</a>
            <%if(jresult.permission==2){%>
            <a class="mdl-navigation__link" href="../C8">Technical Marking</a>
            <%}%>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="scroll-tab-5">
            <form method="post" href="/c5">
                <input type="hidden" name="attempt" value=<%-attempt%>>
                <input type="hidden" name="name" value="Space Invaders">
                <div class="page-content">
                    <!-- Your content goes here -->
                    <div class="page-content">
                        <!-- Your content goes here -->
                        <div class="mdl-grid">
                            <div class="mdl-layout-spacer"></div>
                            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
                                <div class="mdl-card__title">
                                    <h1 class="mdl-card__title-text">Team Selection</h1>
                                </div>
                                <div class="mdl-card__supporting-text scrollable">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <select class="mdl-textfield__input" id=team name=team>
                                            <%if(attempt!=1){%>
                                            <option value=<%-tresult[0].name%>><%-tresult[0].name%></option>
                                            <%}else{%>
                                            <%for(var i=0;i<tresult.length;i++){%>
                                            <option value=<%-tresult[i].name%>><%-tresult[i].name%></option>
                                            <%}}%>
                                        </select>
                                        <label class="mdl-textfield__label" for=team>Team</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mdl-layout-spacer"></div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-layout-spacer"></div>
                            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
                                <div class="mdl-card__title">
                                    <h1 class="mdl-card__title-text">Method Of Challenge</h1>
                                </div>
                                <div class="mdl-card__supporting-text scrollable">
                                    <table style="width: 100%">
                                        <tr>
                                            <td>
                                                <div class="mdl-cell mdl-cell--12-col">
                                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="method1">
                                                        <%if ((attempt>1&&methodd=='0')||attempt<=1){%>
                                                        <input type="radio" id="method1" class="mdl-radio__button" name="methodd" value="0">
                                                        <%}else{%>
                                                        <input type="radio" id="method1" class="mdl-radio__button" name="methodd" value="0" disabled>
                                                        <%}%>
                                                        <span class="mdl-radio__label">Balls</span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mdl-cell mdl-cell--12-col">
                                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="method2">
                                                        <%if ((attempt>1&&methodd=='1')||attempt<=1){%>
                                                        <input type="radio" id="method2" class="mdl-radio__button" name="methodd" value="1">
                                                        <%}else{%>
                                                        <input type="radio" id="method2" class="mdl-radio__button" name="methodd" value="1" disabled>
                                                        <%}%>
                                                        <span class="mdl-radio__label">Darts</span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="mdl-layout-spacer"></div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-layout-spacer"></div>
                            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
                                <div class="mdl-card__title">
                                    <h1 class="mdl-card__title-text">Total Time</h1>
                                </div>
                                <div class="mdl-card__supporting-text scrollable" >
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:40px">
                                                    <input class="mdl-textfield__input" type="number" style="text-align: right" pattern="-?[0-9]*(\.[0-9]+)?" id="min" name="min">
                                                    <label class="mdl-textfield__label" style="text-align: right" for="min">MIN</label>
                                                    <span class="mdl-textfield__error">Input is not a number!</span>
                                                </div>
                                            </td>
                                            <td>
                                                :
                                            </td>
                                            <td>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 40px">
                                                    <label for="sec"></label><input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="sec" name="sec">
                                                    <label class="mdl-textfield__label" for="sec">SEC</label>
                                                    <span class="mdl-textfield__error">Input is not a number!</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="mdl-layout-spacer"></div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-layout-spacer"></div>
                            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col"   >
                                <div class="mdl-card__title">
                                    <h1 class="mdl-card__title-text">Points</h1>
                                </div>
                                <div class="mdl-card__supporting-text scrollable ">
                                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
                                        <thead>
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric" style="text-align: center; width: 50%">Shots</th>
                                            <th class="mdl-data-table__cell--non-numeric" style="text-align: center">Hit</th>
                                            <th class="mdl-data-table__cell--non-numeric" style="text-align: center">Miss/Pass the stop line</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="mdl-data-table__cell--non-numeric" style="text-align: center">1st</td>
                                            <td class="mdl-data-table__cell--non-numeric" style="text-align: center">
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="point1Option1">
                                                    <input type="radio" id="point1Option1" class="mdl-radio__button" name="point1Option" value="true">
                                                    <span class="mdl-radio__label"></span>
                                                </label>
                                            </td>
                                            <td class="mdl-data-table__cell--non-numeric" style="text-align: center">
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="point1Option2">
                                                    <input type="radio" id="point1Option2" class="mdl-radio__button" name="point1Option" value="false">
                                                    <span class="mdl-radio__label"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="mdl-data-table__cell--non-numeric" style="text-align: center">2nd</td>
                                            <td class="mdl-data-table__cell--non-numeric" style="text-align: center">
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="point2Option1">
                                                    <input type="radio" id="point2Option1" class="mdl-radio__button" name="point2Option" value="true">
                                                    <span class="mdl-radio__label"></span>
                                                </label>
                                            </td>
                                            <td class="mdl-data-table__cell--non-numeric" style="text-align: center">
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="point2Option2">
                                                    <input type="radio" id="point2Option2" class="mdl-radio__button" name="point2Option" value="false">
                                                    <span class="mdl-radio__label"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="mdl-data-table__cell--non-numeric" style="text-align: center">3rd</td>
                                            <td class="mdl-data-table__cell--non-numeric" style="text-align: center">
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="point3Option1">
                                                    <input type="radio" id="point3Option1" class="mdl-radio__button" name="point3Option" value="true">
                                                    <span class="mdl-radio__label"></span>
                                                </label>
                                            </td>
                                            <td class="mdl-data-table__cell--non-numeric" style="text-align: center">
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="point3Option2">
                                                    <input type="radio" id="point3Option2" class="mdl-radio__button" name="point3Option" value="false">
                                                    <span class="mdl-radio__label"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="mdl-data-table__cell--non-numeric" style="text-align: center">4th</td>
                                            <td class="mdl-data-table__cell--non-numeric" style="text-align: center">
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="point4Option1">
                                                    <input type="radio" id="point4Option1" class="mdl-radio__button" name="point4Option" value="true">
                                                    <span class="mdl-radio__label"></span>
                                                </label>
                                            </td>
                                            <td class="mdl-data-table__cell--non-numeric" style="text-align: center">
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="point4Option2">
                                                    <input type="radio" id="point4Option2" class="mdl-radio__button" name="point4Option" value="false">
                                                    <span class="mdl-radio__label"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="mdl-data-table__cell--non-numeric" style="text-align: center">5th</td>
                                            <td class="mdl-data-table__cell--non-numeric" style="text-align: center">
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="point5Option1">
                                                    <input type="radio" id="point5Option1" class="mdl-radio__button" name="point5Option" value="true">
                                                    <span class="mdl-radio__label"></span>
                                                </label>
                                            </td>
                                            <td class="mdl-data-table__cell--non-numeric" style="text-align: center">
                                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="point5Option2">
                                                    <input type="radio" id="point5Option2" class="mdl-radio__button" name="point5Option" value="false">
                                                    <span class="mdl-radio__label"></span>
                                                </label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="mdl-layout-spacer"></div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-layout-spacer"></div>
                            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
                                <div class="mdl-card__title">
                                    <h1 class="mdl-card__title-text">Current Attempt</h1>
                                </div>
                                <div class="mdl-card__supporting-text scrollable">
                                    <h4>Attempt <%-attempt%></h4>
                                </div>
                            </div>
                            <div class="mdl-layout-spacer"></div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-layout-spacer"></div>
                            <div class="mdl-cell mdl-cell&#45;&#45;12-col send-button" align="center">
                                <!-- Accent-colored raised button with ripple -->
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="width: 140px; min-width: initial" type="submit">
                                    submit
                                </button>
                            </div>
                            <div class="mdl-layout-spacer"></div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
            <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo"><a href="/privacy">Privacy & Terms</a></div>
</div>
        </footer>
    </main>
</div>
</body>
</html>